@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* 
color: #61dafb;
color: #1e88e5;
color: #282c34;
color: #dadbdc;
color: #ffffff;
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #282c34;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}