@import "portfolio-card.css";

.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.portfolio h2 {
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  padding: 5px;
  font-size: 40px;
  color: #000;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 700px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
