.footer-wrapper {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.footer-text {
  display: flex;
  font-size: 20px;
  margin-right: 20px;
}

.footer-text::after {
  margin-left: 20px;
  content: "";
  background: #000;
  border: 1px solid #000;
}

.about-site {
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.about-site::after {
  margin-left: 20px;
  content: "";
  background: #000;
  border: 1px solid #000;
}

.copy {
  font-size: 20px;
}

@media (max-width: 700px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 900px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}
