<section class="latest-post-wrapper">
  <div class="latest-post-navbar">
    <h2>Последние посты</h2>
    <a href="#">Посмотреть все</a>
  </div>
  <div class="latest-posts">
    <div class="latest-post">
      <h3>Новый раздел на сайте</h3>
      <div class="post-subtitle">
        <h4 class="date">12 Мар 2022</h4>
        <h4>Разработка</h4>
      </div>
      <p>
        Новый раздел, где автор будет делиться мыслями, советами и
        интересными фактами. Пока раздел не доступен, т.к находиться в
        разработке.
      </p>
    </div>
    <div class="latest-post">
      <h3>Новый раздел на сайте</h3>
      <div class="post-subtitle">
        <h4 class="date">12 Мар 2022</h4>
        <h4>Разработка</h4>
      </div>
      <p>
        Новый раздел, где автор будет делиться мыслями, советами и
        интересными фактами. Пока раздел не доступен, т.к находиться в
        разработке.
      </p>
    </div>
  </div>
</section>
