<section class="news-wrapper">
  <h2 class="news-wrapper">Новости</h2>
  <hr>
  <div class="news-list">
    <div class="news-card" *ngFor="let num of testCount">
      <img src="assets/newsImg.png" alt="Новости">
      <div>
        <div class="card-content">
          <h3>Название</h3>
          <h4 class="date">12.22.2021</h4>
          <h4 class="tag">habr</h4>
        </div>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
          velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
    </div>
  </div>
</section>
