:host {
  .about-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    width: 30%;
    border: 4px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
    transition: 2s;

    &:hover {
      box-shadow: 5px -5px 10px #ff6464, -10px 10px 10px #ff6464;
    }
  }

  .person-image {
    width: 100%;
    height: 100%;
    border-radius: 5%;


  }

  .person-description {
    font-size: 12px;
    text-align: center;
    cursor: default;
  }

}
