@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #21243d;
  background-color: #fff;
}
