.nav__wrapper {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}


.nav__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.nav__item {
  font-size: 20px;
  text-transform: uppercase;
}

.nav__item__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  transition: color 0.5s linear;
}

.nav__item__link::after {
  content: "";
  display: block;
  height: 3px;

  background-color: #FF6464;
  opacity: 0;

  display: none;
  z-index: 1;

  transition: opacity 0.5s linear;
}

.nav__item__link:hover {
  color: #FF6464;
}

.nav__item__link:hover::after {
  opacity: 1;
}

@media (max-width: 700px) {
  .nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .nav__item {
    font-size: 12px;
  }
}

