/* Content */

.content__wrapper {
  display: flex;
  width: 100%;
  margin: 15px 0;
  padding: 20px 15px;
  border: 4px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  transition: 2s;
}

.content__wrapper:hover {
  box-shadow: 0 5px 5px #ff6464, 0 10px 10px #ff6464;
}

.content__text {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.content__text__header {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  font-size: 30px;
  text-align: center;
}

.content__text__paragraph {
  padding: 20px 60px;
  margin: 5px;
  font-size: 18px;
}

.content__img {
  width: 100%;
  text-align: center;
}

.content__img img {
  border-radius: 10px;
}

.avatar {
  max-width: 500px;
}

.content__footer {
  text-align: center;
}

@media (max-width: 700px) {
  .content__wrapper {
    display: flex;
    flex-direction: column;
  }

  .content__text__paragraph {
    padding: 10px;
  }

  .content__footer {
    margin: 20px 0px;
  }

  .content__img img {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 900px) {
  .content__wrapper {
    display: flex;
    flex-direction: column;
  }

  .content__text__paragraph {
    padding: 10px;
  }

  .content__footer {
    margin: 20px 0px;
  }

  .content__img img {
    width: 100%;
    max-width: 300px;
  }
}
