/* Contact */

.contact__wrapper {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  border: 4px solid #edf7fa;
  border-radius: 5px;
  background-color: #edf7fa;
  color: #000000;
  transition: 2s;
}

.contact__wrapper:hover {
  box-shadow: 0 5px 5px #61dafb, 0 10px 10px #61dafb;
}

.contact__header {
  font-size: 25px;
}

.contact__wrapper hr {
  height: 1px;
  border: 1px solid #c7cacc;
  border-radius: 5px;
}

.contact__card {
  width: 100%;
  margin: 15px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__header {
  display: flex;
  align-items: center;
}

.card__header h3 {
  font-size: 30px;
  padding: 0 5px;
}

.card__body {
  width: 300px;
  padding: 10px;
}

.card__footer {
  padding-top: 20px;
}

.button__link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 700px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 900px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
