.footer-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  /* margin: 50px; */
  text-align: center;
}

.footer-text {
  display: flex;
  font-size: 20px;
  margin-right: 20px;

  &::after {
    margin-left: 20px;
    content: "";
    background: #000;
    border: 1px solid #000;
  }
}

.about-site {
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;

  &::after {
    margin-left: 20px;
    content: "";
    background: #000;
    border: 1px solid #000;
  }
}

.copy {
  font-size: 20px;
}
