/* Form styles */

.form__inner {
  display: flex;
}

.form__wrapper {
  text-align: center;
  margin: auto;
}

.form__img {
  margin: 20px 0;
}

.image {
  border-radius: 30px;
  padding: 15px;
  width: 650px;
}

.form__input {
  width: 100%;
  padding: 5px;
}

.form__header {
  margin-bottom: 20px;
  border-top: 2px solid #61dafb;
  border-bottom: 2px solid #61dafb;
  padding: 5px;
}
