.header-wrapper {
  width: 70%;
  margin: 45px auto;
  padding: 40px;
  border: 4px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  transition: 2s;

  &:hover {
    box-shadow: 5px -5px 10px #ff6464, -10px 10px 10px #ff6464;
  }
}

.header-text {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;

  h2 {
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    font-size: 30px;
    text-align: center;
  }

  p {
    padding: 20px 60px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
  }
}

.header-img {
  width: 100%;
  text-align: center;

  img {
    border-radius: 5%;
  }
}

.header-footer {
  text-align: center;
}

@media (max-width: 700px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
  }

  .header-text {
    p {
      padding: 10px;
    }
  }

  .header-footer {
    margin: 20px 0px;
  }

  .header-img {
    img {
      width: 100%;
      max-width: 300px;
    }
  }
}

@media (max-width: 900px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
  }

  .header-text {
    p {
      padding: 10px;
    }
  }

  .header-footer {
    margin: 20px 0px;
  }

  .header-img {
    img {
      width: 100%;
      max-width: 300px;
    }
  }
}
