@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* 
color: #61dafb;
color: #1e88e5;
color: #282c34;
color: #dadbdc;
color: #ffffff;
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #282c34;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  max-width: 1200px;
}

/* Content */

.content__wrapper {
  display: flex;
  width: 100%;
  margin: 15px 0;
  padding: 20px 15px;
  border: 4px solid #61dafb;
  border-radius: 5px;
  background-color: #dadbdc;
  color: #000000;
}

.content__wrapper:hover {
  box-shadow: 0 5px 5px #1e88e5, 0 10px 10px #1e88e5;
  transition: 0.5s linear;
}

.content__text {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.content__text__header {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  font-size: 30px;
  text-align: center;
}

.content__text__paragraph {
  padding: 20px 60px;
  margin: 5px;
  font-size: 18px;
}

.content__img {
  width: 100%;
  text-align: center;
}

.content__img img {
  border-radius: 10px;
}

.avatar {
  max-width: 500px;
}

.content__footer {
  text-align: center;
}

@media (max-width: 700px) {
  .content__wrapper {
    display: flex;
    flex-direction: column;
  }

  .content__text__paragraph {
    padding: 10px;
  }

  .content__footer {
    margin: 20px 0px;
  }

  .content__img img {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 900px) {
  .content__wrapper {
    display: flex;
    flex-direction: column;
  }

  .content__text__paragraph {
    padding: 10px;
  }

  .content__footer {
    margin: 20px 0px;
  }

  .content__img img {
    width: 100%;
    max-width: 300px;
  }
}

/* Contact */

.contact__wrapper {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  border: 4px solid #61dafb;
  border-radius: 5px;
  background-color: #dadbdc;
  color: #000000;
}

.contact__wrapper:hover {
  box-shadow: 0 5px 5px #1e88e5, 0 10px 10px #1e88e5;
  transition: 0.5s linear;
}

.contact__header {
  font-size: 25px;
}

.contact__wrapper hr {
  height: 1px;
  border: 1px solid #c7cacc;
  border-radius: 5px;
}

.contact__card {
  width: 250px;
  margin: 15px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__header {
  display: flex;
  align-items: center;
}

.card__header h3 {
  font-size: 30px;
  padding: 0 5px;
}

.card__body {
  width: 300px;
  padding: 10px;
}

.card__footer {
  padding-top: 20px;
  margin: 0 auto;
}

.button__link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 700px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 900px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Form styles */

.form__inner {
  display: flex;
}

.form__wrapper {
  text-align: center;
  margin: auto;
}

.form__img {
  margin: 20px 0;
}

.image {
  border-radius: 30px;
  padding: 15px;
  width: 650px;
}

.form__input {
  width: 100%;
  padding: 5px;
}

.form__header {
  margin-bottom: 20px;
  border-top: 2px solid #61dafb;
  border-bottom: 2px solid #61dafb;
  padding: 5px;
}

.error {
  color: rgb(145, 18, 18);
  padding: 10px auto;
  text-align: center;
}

.footer__wrapper {
  margin: 50px;
  text-align: center;
}

.footer__text {
  font-size: 20px;
}

@media (max-width: 700px) {
  .image {
    width: 80%;
  }
  .form__img {
    text-align: center;
  }

  .image {
    width: 400px;
  }
}

@media (max-width: 900px) {
  .form__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form__img {
    margin: 20px auto;
  }
}

@media (max-width: 420px) {
  .image {
    width: 250px;
  }
}
