@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

@import "header.scss";
@import "content.scss";
@import "contact.scss";
@import "latestpost.scss";
@import "news.scss";
@import "form.scss";
@import "footer.scss";
@import "about-card.scss";
@import "portfolio.scss";
@import "portfolio-card.scss";
@import "todopage.scss";
@import "todoform.scss";
@import "todo-card.scss";

/* 
color: #61dafb;
color: #1e88e5;
color: #21243D;
color: #dadbdc;
color: #ffffff;
color: #00A8CC;
*/
$color: #fff;

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #21243d;
  background-color: $color;
}

sup {
  background-color: chartreuse;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

.App {
  width: 100%;
}

.button-link {
  text-decoration: none;
  color: #ff6464;
  transition: all 0.3s linear;

  &:hover {
    color: #fff;
  }
}

.error {
  color: rgb(145, 18, 18);
  padding: 10px auto;
  text-align: center;
}

.modal__about {
  color: #000000;
  display: flex;
  flex-direction: column;
}

.modal__about__body {
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}

@media (max-width: 700px) {
  .image {
    width: 80%;
  }
  .form__img {
    text-align: center;
  }

  .image {
    width: 400px;
  }
}

@media (max-width: 900px) {
  .form__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form__img {
    margin: 20px auto;
  }
}

@media (max-width: 420px) {
  .image {
    width: 250px;
  }
}
