.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  gap: 20px;
  margin: 50px;
  h2 {
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    font-size: 40px;
    color: #000;
    border-radius: 5px;
    text-align: center;
  }
}

