.project{
    margin: 10px;
}

.page__title {
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
}

.page__title h2 {
  padding: 5px;
  font-size: 40px;
  color: #000;
  border: 4px solid #61dafb;
  border-radius: 5px;
  text-align: center;
  background-color: #dadbdc;
}

.project__list {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}


.project__body{
    margin-bottom: 30px;
}

.project__body p{
    padding: 20px;
}