.todo-card {
  margin: 20px;
}

.todo-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  h2 {
    text-transform: uppercase;
  }
}

.todo-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  h4 {
    font-size: 25px;
    width: 100px;
  }

  p {
    width: 200px;
    text-align: center;
    font-size: 20px;
  }

  span {
    font-size: 20px;
  }
}
