.todo-form {
  width: 100%;
  height: 100%;

  h3 {
    font-size: 25px;
    text-align: center;
    margin: 25px;
  }
}

.todo-inputs {
  margin: 15px;
}

.todo-form-footer {
  text-align: center;
}
